 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://assets.nicepagecdn.com/d6ef74d0/3957482/images/IMG_8116.jpg");
  background-position: 50% 79.32%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  width: 837px;
  margin: 243px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 22px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 253px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 100px auto 98px;
} .u-section-3 {
  min-height: 66px;
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("https://assets.nicepagecdn.com/d6ef74d0/3957482/images/graziano.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 112px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 11px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 3px auto 0;
  padding: 10px;
}

.u-section-3 .u-text-4 {
  margin: 23px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 23px 126px 0 auto;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 126px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 318px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 98px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 98px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 391px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 680px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -64px;
    margin-left: 27px;
  }
} .u-section-4 {
  min-height: 66px;
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 112px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 11px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 3px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-4 {
  margin: 23px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 23px 126px 0 auto;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 126px;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("https://assets.nicepagecdn.com/d6ef74d0/3957482/images/io.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 318px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 98px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 98px;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 706px;
    order: 1;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 23px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -64px;
    margin-left: 23px;
  }

  .u-section-4 .u-image-1 {
    min-height: 391px;
    order: 0;
  }
} .u-section-5 {
  min-height: 66px;
}

.u-section-5 .u-sheet-1 {
  min-height: 655px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 655px;
  background-image: url("https://assets.nicepagecdn.com/d6ef74d0/3957482/images/loris.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 112px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 11px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 3px auto 0;
  padding: 10px;
}

.u-section-5 .u-text-4 {
  margin: 23px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 23px 126px 0 auto;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 126px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 98px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 98px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 391px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 647px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 34px;
    padding-right: 34px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 23px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -64px;
    margin-left: 29px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 253px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 100px auto 98px;
}.u-section-7 .u-sheet-1 {
  min-height: 552px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 50px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-7 .u-image-1 {
  height: 300px;
  margin-top: 6px;
  margin-bottom: 0;
  object-position: 50% 28.81%;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-icon-1 {
  width: 54px;
  height: 54px;
  margin: 11px auto 0 50px;
}

.u-section-7 .u-icon-2 {
  width: 54px;
  height: 54px;
  margin: -54px 50px 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-7 .u-image-2 {
  height: 300px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-icon-3 {
  width: 54px;
  height: 54px;
  margin: 11px auto 0 50px;
}

.u-section-7 .u-icon-4 {
  width: 54px;
  height: 54px;
  margin: -54px 50px 0 auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 14px 30px;
}

.u-section-7 .u-image-3 {
  height: 300px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-7 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-icon-5 {
  width: 54px;
  height: 54px;
  margin: 11px auto 0 50px;
}

.u-section-7 .u-icon-6 {
  width: 54px;
  height: 54px;
  margin: -54px 50px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-7 .u-image-1 {
    height: 238px;
  }

  .u-section-7 .u-image-2 {
    height: 238px;
  }

  .u-section-7 .u-image-3 {
    height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-7 .u-image-1 {
    height: 282px;
  }

  .u-section-7 .u-image-2 {
    height: 282px;
  }

  .u-section-7 .u-image-3 {
    height: 282px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 489px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 489px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 489px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 301px;
  }

  .u-section-7 .u-image-2 {
    height: 301px;
  }

  .u-section-7 .u-image-3 {
    height: 301px;
  }
}